.item {
  display: flex;
  gap: 12px;
  padding: 16px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}


.itemContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemContent p {
  font-size: 13px;
  color: #767676;
}

.itemContent .qtdPessoas {
  font-weight: 600;
  color: #000;
}

.itemImg {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}

.itemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .itens {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: calc(50% - 8px);
  }
}

@media (min-width: 1024px) {
  .item {
    width: calc(33.333% - 12px);
  }
}