.headerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerContent p {
  color: #6d6d6d;
}

.empresaContent {
  border: 1px solid #e6e6e6;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #6d6d6d;

}

.empresaHeader,
.temPreparo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.empresaHeader {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.temPreparo {
  padding: 10px;
}

.icon {
  font-size: 20px;
}

/*Acompanhamento*/
.acompanhamento {
  border: 1px solid #e1e1e1;
}

.acomHeader {
  background-color: #e1e1e1;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.acomIcon {
  font-size: 20px;
  color: green;
}

.acomItem {

}