.headerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerContent p {
  color: #6d6d6d;
}

.empresaContent {
  border: 1px solid #e6e6e6;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #6d6d6d;

}

.empresaHeader,
.temPreparo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.empresaHeader {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.temPreparo {
  padding: 10px;
}

.icon {
  font-size: 20px;
}