.headerApp {
  display: flex;
  align-items: center;
  gap: 16px;
}

.imgLoja {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #ccc;
  flex-shrink: 0;
}

.descLoja p {
  font-size: 14px;
  color: #767676;
}