/* Container base */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablets (>=768px) */
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

/* Desktop (>=1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 24px;
  }
}

/* Telas muito grandes (>=1440px) */
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 0 32px;
  }
}

/* Header */
.header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.header img {
  width: 100%;
  display: block;
}


/* BodyApp */
.bodyApp {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  position: relative;
  z-index: 2;
}


.bodyContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
}






