/* Container base */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablets (>=768px) */
@media (min-width: 768px) {
  .container {
    width: 80% !important;
    padding: 0;
  }
}



/* Header */
.header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.header img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  
}

@media (min-width: 760px) {
  .header {
    margin-top: 30px;
    height: 350px;
  }

  .header img {
    border-radius: 20px;
  }
}


/* BodyApp */
.bodyApp {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  position: relative;
  z-index: 2;
}


.bodyContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
  margin-bottom: 20px;
}

@media (min-width: 760px) {
  .bodyContainer {
    padding: 30px 40px;
  }
}






